.video-container {
  width: 90%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;

  .video-card {
    .name {
      margin: 1rem 2rem;
    }

    video {
      border-radius: 20px;
      box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
      //   border: 1px solid rgb(6, 6, 6);
      width: 700px;
      max-width: 750px;
      min-width: 300px;
      height: fit-content;
    }
  }
}

@media screen and (max-width: 500px) {
  .video-container {
    flex-direction: column;
    height: 80vh;
    justify-content: flex-start;

    .video-card {
      width: 100%;
      height: fit-content;
      margin: 1rem 0;

      .name{
        margin: 0.5rem 2rem;
      }

      video {
        width: 100%;
        border-radius: 5px;
      }
    }
  }
}
